/* ==|======================
   Layout/About section
   ========================= */

   #about {
     min-height: 50vh;
     background: #D3D3D3;
     text-align: center;;
     @include verticle-align()
     padding: $padding;

     h1 {
       text-transform: uppercase;
     }
   }
