/* ==|======================
   Layout/contact
   ========================= */

#contact {
 padding: 7rem 0;
 background: $primary;
 color: $reverse;
 h6 {
   text-transform: none;
 }
 span {
   font-weight: bold;
 }
 .footer-logo {
   margin-bottom: 5rem;
   img {
     width: 50%;
   }
 }
}
