/* ==|======================
   Layout/Gallery
   ========================= */

#gallery {
  padding: 7rem 0;
}
.grid-item {
 float: left;
 width: 460px;
 border: 5px solid #fff;
 img {
   width: 100%;
   display: block;
   height: auto;
   }
}

@media ( min-width: 1200px ) {
  .grid-item {
   width: 277px;
  }
}
