/* ==|======================
   Layout/Header
   ========================= */

/* BACKGROUND */
#header {
  height: 100vh;
  background: url('./images/gracie-hero.jpg') center center no-repeat;
  background-size: cover;
  @include verticle-align();
}

#header {
  color: #fff;
  h1 {
    text-transform: uppercase;
    font-size: 2.5rem;;
  }
}

/* BUTTONS */
#header {
  p {
    font-size: 1.25rem;
  }
  .btn {
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    width: 140px;
    cursor: pointer;
  }
  .btn.solid {
    background: #fff;
    color: #000;
    margin-right: 0.75rem;
  }
  .btn.outline {
    background: none;
    border: 1px solid #fff;
  }
}

@media screen and (min-width: 750px) {
  #header {
    h1 {
      font-size: 70px;
    }
  }
}
