/* ==|======================
   Layout/Home
   ========================= */

#container {
  height: 300vh;
  width: 100%;
  background: black;
}
.main-landing {
  height: 100vh;
  max-width: 100%;
  background: url('./images/gracie-hero.jpg') no-repeat center center fixed;
  background-size: cover;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  height: 5.5rem;
  align-items: center;
  .logo {
    width: 12rem;
    margin: 2rem;
  }
  ul {
    display: flex;
    align-items: center;
    li {
      font-family: sans-serif;
      font-weight: bold;
      a {
        color: #F34F57;
        text-decoration: none;
        margin-left: 2rem;
      }
      a:hover {
        text-decoration: line-through;
      }
    }
    li:last-child {
      margin-right: 2.5rem;
    }
  }
}

.main-landing {
  h1 {
    margin: 2rem;
    color: #F34F57;
    font-family: sans-serif;
    font-size: 7rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}
