/* ==|====================
   Layout/Nav
   ======================= */



/* MAIN LOGO */
.main-logo {
  margin-left: 0.75rem;
  img {
    width: 10rem;
  }
}

/* NAVIGATION */
.navbar {
    background: #000;
    .navbar-toggler {
      color: #fff;
    }
    .nav-link:hover {
      color: teal;
    }
    a.nav-link {
      color: #fff;
      margin-left: 1.5rem;
      font-size: 0.85rem;
      text-transform: uppercase;
    }
    a.nav-link.social {
      margin: auto 0;
    }
    a.nav-link.social.instagram {
      margin-left: 24px;
    }
}
