/* ==|======================
   Layout/packages
   ========================= */
#packages {
  padding: 7rem 0;
  min-height: 50vh;
  background: $secondary;
  @include verticle-align();
  text-align: center;

  .card {
    border-radius: 0;
    margin-bottom: 2rem;
    li.list-group-item:last-of-type {
      font-family: $black;
    }
    strong {
      font-size: 1.8rem;
      }
    }

  .first-gallery-row {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  .card-header {
    border-radius: 0;
    color: #fff;
  }
  .basic {
    background: #6e6e6e;
  }
  .basic-2 {
    background: #808080;
  }
  .portrait {
    background: #333333;
  }

  .group-sessions {
    margin-top: 5rem;
    text-align: center;
  }
}

@media (min-width: 768px){
  #packages {
    .card {
      margin-bottom: 0px;
    }
  }
}
