/* ===========================
   Base
   =========================== */

body {
  font-family: $medium;
}

a {
}

h1, h2, h3, h4, h5, h6 {
  font-family: $black;
  text-transform: uppercase;
}
h1 {
  text-transform: uppercase;
}
