@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Fonts

@font-face { font-family: avant_bold; src: url(./fonts/ITCAvantGardeStd-Bold.woff);}
@font-face { font-family: proxi_bold; src: url(./fonts/proximanova-bold-webfont.woff);}
@font-face { font-family: proxi_medium; src: url(./fonts/proximanova-regular-webfont.woff);}
@font-face { font-family: proxi_light; src: url(./fonts/proximanova-light-webfont.woff);}

$black: avant_bold, sans-serif;
$bold: proxi_bold, sans-serif;
$medium: proxi_medium, sans-serif;
$light: proxi_light, sans-serif;



// = Colors
// -----------------------------

$primary: #000;
$secondary: #e0e0e0;
$reverse: #fff;


// Graphic chart
$red: #df2e30;
$blue: #1894c4;
$facebook: #3b5998;
$twitter: #43bfe1;

$color1: $red;
$color2: $blue;


// = Grid
// -----------------------------

// Max width wrapper
$wrapper-width: pxtoem(1140, 16);


$padding: 2rem;
